In [1]:
#Importing necessary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter

import os
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_colwidth',500)
pd.set_option('display.max_columns',5000)

In [2]:
#printing available data files
for filename in os.listdir('./data/'):
    if filename.endswith('.csv'):
        print(filename)

print('-'*20)

for filename in os.listdir('./data/train_AUpWtIz/'):
    if filename.endswith('.csv'):
        print(filename)

sample_submission_Byiv0dS.csv
test_QyjYwdj.csv
--------------------
campaign_data.csv
coupon_item_mapping.csv
customer_demographics.csv
customer_transaction_data.csv
item_data.csv
sample_submission_Byiv0dS.csv
test_QyjYwdj.csv
train.csv

In [3]:
#reading files
train = pd.read_csv('./data/train_AUpWtIz/train.csv')
campaign = pd.read_csv('./data/train_AUpWtIz/campaign_data.csv')
items = pd.read_csv('./data/train_AUpWtIz/item_data.csv')
coupons = pd.read_csv('./data/train_AUpWtIz/coupon_item_mapping.csv')
cust_demo = pd.read_csv('./data/train_AUpWtIz/customer_demographics.csv')
cust_tran = pd.read_csv('./data/train_AUpWtIz/customer_transaction_data.csv')

test = pd.read_csv('./data/test_QyjYwdj.csv')
sample = pd.read_csv('./data/sample_submission_Byiv0dS.csv')

In [7]:
train.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [4]:
########################### Campaign #############################

In [5]:
campaign.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [6]:
#todatetime
campaign['start_date'] = pd.to_datetime(campaign['start_date'], format = '%d/%m/%y')
campaign['end_date'] = pd.to_datetime(campaign['end_date'], format = '%d/%m/%y')

In [8]:
#adding campaign type to train and test
train['campaign_type'] = train.campaign_id.map(campaign.groupby('campaign_id').campaign_type.apply(lambda x: x.unique()[0]))
test['campaign_type'] = test.campaign_id.map(campaign.groupby('campaign_id').campaign_type.apply(lambda x: x.unique()[0]))

In [151]:
############################ Customer demographics ##############################

In [10]:
cust_demo.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [11]:
#type of family size, no of children = int64
cust_demo['family_size'] = cust_demo.family_size.apply(lambda x: int(re.sub('\+','',x)))
cust_demo['no_of_children'] = cust_demo.no_of_children.apply(lambda x: float(re.sub('\+','',x)) if pd.notna(x) else x)

In [12]:
#Filling nans marital_status

#customers with family size =1 will be single
cust_demo.loc[pd.isnull(cust_demo.marital_status) & (cust_demo.family_size == 1),'marital_status'] = 'Single'

#customers whos fam size - no of childrens == 1, will also be single
cust_demo.loc[(cust_demo.family_size - cust_demo.no_of_children == 1) & pd.isnull(cust_demo.marital_status),'marital_status'] = 'Single'

#from the orignal data we have 142 of 152 customers with diff of 2 in their fam size and #childrens are Married
cust_demo.loc[(pd.isnull(cust_demo.marital_status)) & ((cust_demo.family_size - cust_demo.no_of_children) == 2)  & (pd.notnull(cust_demo.no_of_children)),'marital_status'] = 'Married'

#original data shows customers with fam size == 2, and nans in no of childrens are majorly Married
cust_demo.loc[pd.isnull(cust_demo.marital_status) & (pd.isnull(cust_demo.no_of_children)) & (cust_demo.family_size ==2),'marital_status'] = 'Married'

In [13]:
#Filling nans in no of children

#Married people with family_size ==2 will have 0 childrens
cust_demo.loc[pd.isnull(cust_demo.no_of_children) & (cust_demo.marital_status == 'Married') & (cust_demo.family_size == 2),'no_of_children'] = 0.0

#customers with family size 1 will have zero childrens
cust_demo.loc[pd.isnull(cust_demo.no_of_children) & (cust_demo.family_size == 1), 'no_of_children'] = 0.0

#singles with family size == 2, will probably have 1 child
cust_demo.loc[pd.isnull(cust_demo.no_of_children) & (cust_demo.family_size == 2),'no_of_children'] = 1.0

In [14]:
############################ Customer transactions ############################

In [15]:
cust_tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [16]:
#to datetime
cust_tran['date'] = pd.to_datetime(cust_tran['date'])

In [17]:
############################# common ###############################

In [18]:
#merging train and test with cust_demo on campaign_id
train = pd.merge(train,cust_demo, on='customer_id', how='left')
test = pd.merge(test,cust_demo, on='customer_id', how='left')

In [19]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,13,27,1053,0,X,46-55,Single,0.0,1.0,0.0,5.0
1,2,13,116,48,0,X,36-45,Married,0.0,2.0,0.0,3.0
2,6,9,635,205,0,Y,46-55,Married,0.0,2.0,0.0,7.0
3,7,13,644,1050,0,X,NaN,NaN,NaN,NaN,NaN,NaN
4,9,8,1017,1489,0,X,46-55,Married,0.0,2.0,0.0,3.0

In [63]:
# "bought_X_vailable" =  Intersection between Items bought by customer previously(from cust_tran) and all items available in coupon provided(from coupons)

In [21]:
#cust2items - dictionary mapping customer_ids to all items bought by them
cust_tran['str_item'] = cust_tran.item_id.apply(lambda x: str(x)) #did this to calculate d_cust2items, no need further
d_cust2items = cust_tran.groupby('customer_id').str_item.apply(lambda x: ' '.join(x)).to_dict()
cust_tran.drop('str_item',axis=1,inplace=True)

In [22]:
#coupon2items - dictionary mapping coupon_ids to all items under them
d_coupon2items = coupons.groupby('coupon_id').item_id.apply(lambda x: ' '.join(list(x.apply(lambda x: str(x))))).to_dict()

In [23]:
#intersect of cust2items and coupon2items (increased score by 0.14)
train['bought_X_vailable'] = train[['coupon_id','customer_id']].apply(lambda x : len(np.intersect1d(d_cust2items[x[1]].split() , d_coupon2items[x[0]].split())) , axis=1)
test['bought_X_vailable'] = test[['coupon_id','customer_id']].apply(lambda x : len(np.intersect1d(d_cust2items[x[1]].split() , d_coupon2items[x[0]].split())) , axis=1)

In [25]:
#############

In [24]:
#item2coupons - dictionary mapping item_ids to all coupons applicable to them
d_item2coupons = coupons.groupby('item_id').coupon_id.apply(lambda x: ' '.join(list(x.apply(lambda x: str(x))))).to_dict()

In [26]:
#adding col for whether coupon was applied on that item (i.e redeemed or not)
cust_tran['redeem'] = cust_tran.coupon_discount.apply(lambda x: 1 if x<0 else 0)

In [27]:
##############  1.) Calculating redeemed % per item from cust_tran
#               2.) Summing all those %'s for items in a coupon, take mean finally
#               3.) map it to coupons

In [28]:
#per_item_redeemed_history = dict mapping item_ids to redeemed %
d_per_item_redeemed_history = ((cust_tran.groupby('item_id').redeem.sum() / cust_tran.groupby('item_id').redeem.count()) *100).to_dict()

In [29]:
#some items corresponding to test coupons are not in d_per_item_redeemed_hist hence need for this func
def item_redeem_func(x):
    for item in d_coupon2items[x].split():
        per = []
        try:
            per.append(d_per_item_redeemed_history[int(item)])

        except:
            pass
    k = [np.mean(per) if pd.isna(np.mean(per)) == False else 0]
    return k[0]

In [30]:
#applying the above func to coupon_id
train['item_redeem'] = train.coupon_id.apply(item_redeem_func)
test['item_redeem'] = test.coupon_id.apply(item_redeem_func)

In [31]:
###############

In [32]:
##### 1.) Calculating redeemed % per customer from cust_tran
#     2.) map it to customer_ids in train and tests

In [33]:
#per_cust_redeem_history - dict mapping customer_id to redemmed %
d_per_cust_redeem_history = ((cust_tran.groupby('customer_id').redeem.sum() / cust_tran.groupby('customer_id').redeem.count())*100).to_dict()

In [34]:
#adding a col for cust redeem #increased score by 0.03
train['cust_redeem'] = train.customer_id.map(d_per_cust_redeem_history)
test['cust_redeem'] = test.customer_id.map(d_per_cust_redeem_history)

In [35]:
###############

In [36]:
#adding net price
#cust_tran['net_price'] = cust_tran['selling_price'] - cust_tran['other_discount'] - cust_tran['coupon_discount']

#dict for cust_id to income bracket
#d_cust2_incomebrac = cust_demo[['customer_id','income_bracket']].set_index('customer_id').to_dict()['income_bracket']

#adding income bracket col in customer trans
#cust_tran['income_bracket'] = cust_tran.customer_id.map(d_cust2_incomebrac)

#merging cust_trans with items on item_id
cust_tran = pd.merge(cust_tran, items, how='left', on='item_id')

In [37]:
cust_tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,redeem,brand,brand_type,category
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,0,56,Local,Natural Products
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0,0,56,Local,Natural Products
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0,0,524,Established,Grocery
3,2012-01-02,1501,33647,1,67.32,0.00,0.0,0,1134,Established,Grocery
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0,0,524,Established,Grocery

In [38]:
#################### 1.) Calculating redeemed % per category ---> per_cat_redeem_history
#                    2.) Calculating redeemed % per customer based on cat using (1) ---> per_cust_redeem_history_catwali
#                    3.) map (2) to customer_ids in train and test

In [39]:
#redeem history based on category
d_per_cat_redeem_history = (cust_tran.groupby('category').redeem.sum() / cust_tran.groupby('category').redeem.count()*1000).to_dict()

In [40]:
#(increased score by 0.0001)
d_per_cust_redeem_history_catwali = cust_tran.groupby('customer_id').category.apply(lambda x: np.mean([d_per_cat_redeem_history[k] for k in x.values]))

train['cat_cust_redeem'] = train.customer_id.map(d_per_cust_redeem_history_catwali)
test['cat_cust_redeem'] = test.customer_id.map(d_per_cust_redeem_history_catwali)

In [41]:
############

In [42]:
############ if for a customer, brands bought by him previously are available in the coupon given, high chance of redeem

In [43]:
#cust2brands - dict mapping customer_ids to all brands bought by them
d_cust2brands = cust_tran.groupby('customer_id').brand.apply(lambda x: ' '.join([str(k) for k in x.unique()])).to_dict()

In [44]:
#item2brand - dict mapping items to their respective brands
d_item2brand = cust_tran.groupby('item_id').brand.apply(lambda x: x.unique()[0]).to_dict()

In [45]:
#filling nans in brand of which we have no prior info
coupons['brand'] = coupons.item_id.map(d_item2brand).fillna('99999999999')

In [46]:
#coupon2brands - dict mapping coupons to all brands available in them to purchase
d_coupon2brands = coupons.groupby('coupon_id').brand.apply(lambda x: ' '.join([str(int(k)) for k in x.unique()])).to_dict()

In [47]:
#getting no of common brands in cust2brands and coupon2brands
train['brand_bot'] = train[['customer_id','coupon_id']].apply(lambda x: len(np.intersect1d(d_cust2brands[x[0]].split(), d_coupon2brands[x[1]].split())), axis=1)
test['brand_bot'] = test[['customer_id','coupon_id']].apply(lambda x: len(np.intersect1d(d_cust2brands[x[0]].split(), d_coupon2brands[x[1]].split())), axis=1)

In [48]:
#########

In [49]:
######### Filling some nans in rented, age_range

In [50]:
#filling nans in train.rented with 2
train.rented.fillna(2,inplace=True)
test.rented.fillna(2,inplace=True)

In [51]:
#imputing age_range based on campaign_id

def d_age(df):
    k = df.groupby('campaign_id').age_range.value_counts()
    k = k.reset_index(name='value').sort_values(['campaign_id','value'], ascending=[True,False])
    d_age = {}
    for i in list(df.campaign_id.unique()):
        df = k.loc[k.campaign_id == i,['age_range','value']]
        df = df.set_index('age_range')
        max_val_per_campaign = df.idxmax().value
        d_age[i] = max_val_per_campaign
        
    return d_age

    
#filling nans with d_age
train.loc[(pd.isnull(train.age_range)),'age_range'] = train.loc[(pd.isnull(train.age_range)),'campaign_id'].map(d_age(train))
test.loc[(pd.isnull(test.age_range)),'age_range'] = test.loc[(pd.isnull(test.age_range)),'campaign_id'].map(d_age(test))

In [52]:
###############

In [53]:
#adding brand (most frequent) per coupon_id
train['brand'] = train.coupon_id.map(coupons.groupby('coupon_id').brand.apply(lambda x: x.values[0]).to_dict())
test['brand'] = test.coupon_id.map(coupons.groupby('coupon_id').brand.apply(lambda x: x.values[0]).to_dict())

In [54]:
############### val set

In [57]:
#array's containing common customer_ids and coupon_ids in train,test ---> (in order to make val set)
commom_cust = np.intersect1d(train.customer_id.unique(),test.customer_id.unique())
commom_coup = np.intersect1d(train.coupon_id.unique(),test.coupon_id.unique())

In [58]:
#adding col to see whether cust, coup is in test or not 
train['test_cust'] = train.customer_id.apply(lambda x: 1 if x in commom_cust else 0)
train['test_coup'] = train.coupon_id.apply(lambda x: 1 if x in commom_coup else 0)

In [59]:
####Validation set

#(len(train[pd.isnull(train.family_size) & (train.redemption_status == 1)]) / len(train)) * 7837 #16
index1 = train[pd.isnull(train.family_size) & (train.redemption_status == 1) & (train.test_cust == 1) & (train.test_coup == 1)].sample(16, random_state=1996).index

#(len(train[pd.notnull(train.family_size) & (train.redemption_status == 1)]) / len(train) ) * 7837 #57
index2 = train[pd.notnull(train.family_size) & (train.redemption_status == 1) & (train.test_cust == 1) & (train.test_coup == 1)].sample(57, random_state=1996).index

#(len(train[pd.isnull(train.family_size) & (train.redemption_status == 0)]) / len(train)) * 7837 #3455
index3 = train[pd.isnull(train.family_size) & (train.redemption_status == 0) & (train.test_cust == 1) & (train.test_coup == 1)].sample(3366, random_state=1996).index

#(len(train[pd.notnull(train.family_size) & (train.redemption_status == 0)]) / len(train)) * 7837 #4309
index4 = train[pd.notnull(train.family_size) & (train.redemption_status == 0) & (train.test_cust == 1) & (train.test_coup == 1)].sample(4309, random_state=1996).index



#new train and val set
val_index = []
for i in [index1,index2, index3, index4]:
    val_index.extend(i)#main val_index
    
train_index = set(train.index)
train_index = train_index.symmetric_difference(val_index)#main train index

new_train = train.loc[train_index]
val = train.loc[val_index].sample(frac=1, random_state = 1996)
new_test = test

In [60]:
#final_train = new_train.dropna(axis=1).drop(['test_cust','test_coup'], axis=1)
#final_test = new_test.dropna(axis=1)#.drop(['coup_redeem'], axis=1)
#val = val.dropna(axis=1).drop(['test_cust','test_coup'], axis=1)

final_train = train.dropna(axis=1).drop(['test_cust','test_coup'], axis=1)
final_test = test.dropna(axis=1)

################# Label Encoding

#label encoding features
final_train['campaign_type'] = final_train.campaign_type.map({'X':0,'Y':1})
#val['campaign_type'] = val.campaign_type.map({'X':0,'Y':1})
final_test['campaign_type'] = final_test.campaign_type.map({'X':0,'Y':1})

final_train['age_range'] = final_train.age_range.map({'46-55':0,'36-45':1,'18-25':2,'26-35':3,'56-70':4,'70+':5})
#val['age_range'] = val.age_range.map({'46-55':0,'36-45':1,'18-25':2,'26-35':3,'56-70':4,'70+':5})
final_test['age_range'] = final_test.age_range.map({'46-55':0,'36-45':1,'18-25':2,'26-35':3,'56-70':4,'70+':5})

###############

############## train_test

#preparing data
X_train = final_train.drop(['redemption_status'],axis=1)
y_train = final_train.redemption_status

#val_x = val.drop(['redemption_status'],axis=1)
#val_y = val.redemption_status

X_test = final_test

In [61]:
from sklearn.metrics import roc_auc_score

In [62]:
from xgboost import XGBClassifier

preds1= pd.DataFrame()
auc_roc1 = []
val_auc = []

for k in range(0,10):
    df_1 = final_train[final_train.redemption_status == 1]
    df_0 = final_train[final_train.redemption_status == 0].sample(1000, random_state =2*k*k*k)
    
    df = pd.concat([df_0,df_1],axis=0).sample(frac=1)

    X_train = df.drop('redemption_status',axis=1)
    y_train = df.redemption_status

    model1 = XGBClassifier(n_estimators=100, scale_pos_weight=2)
    model1.fit(X_train,y_train)

    #pred by model1
    auc_roc1.append(roc_auc_score(y_train, model1.predict_proba(X_train)[:,1].round(3)))
    preds1['k'+str(k)] = model1.predict_proba(X_test)[:,1].round(3)
    


    print(k, end='')

0123456789

In [138]:
pred = preds1.mean(axis=1)
roc_auc_score(val_y, pred)

0.9729695238945161

In [ ]:
##############

In [144]:
pred_test = preds1.mean(axis=1)

sample['redemption_status'] = pred_test

name = 'sol/final.csv'
sample.to_csv(name,index=False)